.cursor {
	cursor: pointer;
}
.ta-editor.form-control.richtext, .ta-scroll-window.form-control.richtext  {
    min-height: 100px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.form-control.richtext > .ta-bind {
    height: auto;
    min-height: 100px;
    padding: 6px 12px;
}