<div class="box">
  <div class="box-header">
    <h3 class="box-title">
      <%= title %>
    </h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="overlay" ng-show="loading == true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body table-responsive no-padding" ng-show="loading == false">
      <table id="countriesTable" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>En Name</th>
            <th>Ar Name</th>
            <th>En Description</th>
            <th>Ar Description</th>
            <th>Thumbnail</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Budget</th>
            <th>Purpose</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="country in countries">
            <td>{{country.en_name}}</td>
            <td>{{country.ar_name}}</td>
            <td>{{country.en_description}}</td>
            <td>{{country.ar_description}}</td>
            <td>{{country.thumbnail}}</td>
            <td>{{country.lat}}</td>
            <td>{{country.lng}}</td>
            <td>{{country.budget}}</td>
            <td>{{country.purpose}}</td>
            <td>
              <i class="fa fa-edit cursor" ng-click="openEditDialog(country.id)"> Edit</i>
            </td>
          </tr>
        </tbody>
        <tfooter>
          <tr>
            <td colspan="10">
              <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="addCountryModal" ng-click="openAddDialog()">Add Country</button>
            </td>
          </tr>
        </tfooter>
      </table>
    </div>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
<!-- Main row -->
<div class="row">

  <!-- MODALS -->

  <div class="modal fade" id="addCountryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Add or Modify Country</h4>
        </div>
        <div class="modal-body">
          <div class="callout callout-danger" ng-show="serverError==true">
            <h4>Saving failed!</h4>
            <p>{{serverErrorMessage}}</p>
          </div>
          <form role="form" id="newCountryForm">
            <div class="box-body">
              <div class="overlay" ng-show="saving == true">
                <i class="fa fa-refresh fa-spin"></i>
              </div>
              <div class="form-group" ng-show="saving==false">
                <label class="control-label text-red" for="en_name" ng-show="en_nameMissing==true">
                  <i class="fa fa-times-circle-o"></i>English Name is missing</label>
                <label for="en_name" ng-show="en_nameMissing==false">En Name</label>
                <input type="text" required class="form-control" id="en_name" ng-model="newCountry.en_name" placeholder="Enter name in English"
                  required>
              </div>
              <div class="form-group" ng-show="saving==false">
                <label class="control-label text-red" for="en_description" ng-show="en_descriptionMissing==true">
                  <i class="fa fa-times-circle-o"></i>English Description is missing</label>
                <label for="en_description" ng-show="en_descriptionMissing==false">En Desc</label>
                <input type="text" required class="form-control" id="en_description" ng-model="newCountry.en_description" placeholder="Enter description in English"
                  required>
              </div>
              <div class="form-group" ng-show="saving==false">
                <label class="control-label text-red" for="ar_name" ng-show="ar_nameMissing==true">
                  <i class="fa fa-times-circle-o"></i>Arabic Name is missing</label>
                <label for="ar_name" ng-show="ar_nameMissing==false">Ar Name</label>
                <input type="text" required class="form-control" id="ar_name" ng-model="newCountry.ar_name" placeholder="Enter name in Arabic"
                  required>
              </div>
              <div class="form-group" ng-show="saving==false">
                <label class="control-label text-red" for="ar_description" ng-show="ar_descriptionMissing==true">
                  <i class="fa fa-times-circle-o"></i>Arabic Description is missing</label>
                <label for="ar_description" ng-show="ar_descriptionMissing==false">Ar Desc</label>
                <input type="text" required class="form-control" id="ar_description" ng-model="newCountry.ar_description" placeholder="Enter description in Arabic"
                  required>
              </div>
              <div class="form-group" ng-show="saving==false">
                <label class="control-label text-red" for="thumbnail" ng-show="thumbnailMissing==true">
                  <i class="fa fa-times-circle-o"></i>Thumbnail is missing</label>
                <label for="thumbnail" ng-show="thumbnailMissing==false">Ar Desc</label>
                <input type="text" required class="form-control" id="thumbnail" ng-model="newCountry.thumbnail" placeholder="Enter thumbnail"
                  required>
              </div>
              <div class="form-group" ng-show="saving==false">
                <label class="control-label text-red" for="lat" ng-show="latMissing==true">
                  <i class="fa fa-times-circle-o"></i>Latitude is missing</label>
                <label for="lat" ng-show="latMissing==false">Latitude</label>
                <input type="text" required class="form-control" id="lat" ng-model="newCountry.lat" placeholder="Enter latitude" required>
              </div>
              <div class="form-group" ng-show="saving==false">
                <label class="control-label text-red" for="lng" ng-show="lngMissing==true">
                  <i class="fa fa-times-circle-o"></i>Longitude is missing</label>
                <label for="lng" ng-show="lngMissing==false">Longitude</label>
                <input type="text" required class="form-control" id="lng" ng-model="newCountry.lng" placeholder="Enter longitude" required>
              </div>
              <div class="form-group" ng-show="saving==false">
                <label class="control-label text-red" for="budget" ng-show="budgetMissing==true">
                  <i class="fa fa-times-circle-o"></i>Budget is missing</label>
                <label for="budget" ng-show="budgetMissing==false">Budget</label>
                <select class="form-control" id="budget" ng-model="newCountry.budget">
                  <option ng-repeat="budget in budgetCategories" ng-value="budget.id" ng-selected="newCountry.budget === budget.id">{{budget.en_name}}</option>
                </select>
              </div>
              <div class="form-group" ng-show="saving==false">
                <label class="control-label text-red" for="purpose" ng-show="purposeMissing==true">
                  <i class="fa fa-times-circle-o"></i>Purpose is missing</label>
                <label for="purpose" ng-show="purposeMissing==false">Purpose</label>
                <select class="form-control" id="purpose" ng-model="newCountry.purpose">
                  <option ng-repeat="purpose in purposes" ng-value="purpose.id" ng-selected="newCountry.purpose === purpose.id">{{purpose.en_name}}</option>
                </select>
              </div>
              <!-- /.form group -->
            </div>
            <!-- /.box-body -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="addCountry(true)" ng-show="editMode==false">Save and close</button>
          <button type="button" class="btn btn-primary" ng-click="addCountry(false)" ng-show="editMode==false">Save and add another</button>
          <button type="button" class="btn btn-primary" ng-click="editCountry()" ng-show="editMode==true">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- MODALS END -->

</div>