<div class="box box-info">
	<div class="box-header">
		<h3 class="box-title">
			<%= title %>
		</h3>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<div class="overlay" ng-show="loading == true">
			<i class="fa fa-refresh fa-spin"></i>
		</div>

		<!-- UNCOMMENT THIS -->

		<div class="box-body">
			<div class="row">
				<div class="col-xs-3">
					<label>Customer's Name</label>
					<input type="text" placeHolder="Search by Name" class="form-control" id="nameSearchCriterion" ng-model="searchCriteria.name"
					/>
				</div>
				<div class="col-xs-3">
					<label>Customer's Phone</label>
					<input type="text" placeHolder="Search by Phone" class="form-control" id="phoneSearchCriterion" ng-model="searchCriteria.phone"
					/>
				</div>
				<div class="col-xs-6">
					<label>Customer's Email</label>
					<input type="text" placeHolder="Search by Email" class="form-control" id="emailSearchCriterion" ng-model="searchCriteria.email"
					/>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<label>Customer's Zip Code</label>
					<input type="text" placeHolder="Search by Zip Code" class="form-control" id="zipCodeSearchCriterion" ng-model="searchCriteria.zipCode"
					/>
				</div>
				<div class="col-xs-3">
					<label>Customer's City</label>
					<input type="text" placeHolder="Search by City" class="form-control" id="citySearchCriterion" ng-model="searchCriteria.city"
					/>
				</div>
				<div class="col-xs-6">
					<label>Customer's Address</label>
					<input type="text" placeHolder="Search by Address" class="form-control" id="addressSearchCriterion" ng-model="searchCriteria.address"
					/>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-3">
					<div class="form-group">
						<label>Customer's Plan</label>
						<select class="form-control" ng-model="searchCriteria.plan">
							<option value="" disabled selected>Plan</option>
							<option value="NIGHT OWL">NIGHT OWL</option>
						</select>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label>Customer's Status</label>
						<select class="form-control" ng-model="searchCriteria.status">
							<option value="" disabled selected>Status</option>
							<option value="ACTIVE">ACTIVE</option>
							<option value="AWAITING_ACTIVATION">AWAITING_ACTIVATION</option>
							<option value="LOCKED">LOCKED</option>
						</select>
					</div>
				</div>
				<div class="col-xs-6">
					<label>Customer's registration date range</label>
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-clock-o"></i>
						</div>
						<input type="text" class="form-control pull-right" id="registrationTime" placeHolder="Registration range" />
					</div>
					<!-- /.input group -->
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="searchCriteria.eligibleForFreeDelivery">Only those eligible for free delivery
						</label>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="searchCriteria.eligibleForLifetimeFreeDelivery">Only those eligible for lifetime free delivery
						</label>
					</div>
				</div>
				<div class="col-xs-6">
					<button class="btn btn-default pull-right" ng-click="searchCustomers()">
						Search
					</button>
					<button class="btn btn-default pull-right" ng-click="searchCustomersAndExport()">
						Search & Export
					</button>
				</div>
			</div>
		</div>

		<div class="box-body table-responsive no-padding" ng-show="loading == false">
			<table id="customersTable" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Email</th>
						<th>Name</th>
						<th>Phone</th>
						<th>Zip Code(s)</th>
						<th>City(ies)</th>
						<th>Registration date</th>
						<th>Orders</th>
						<th>Full Details</th>
						<th>SMS Customer</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="customer in customers">
						<td ng-bind="customer.id"></td>
						<td ng-bind="customer.username"></td>
						<td>{{customer.firstName + " " + customer.lastName}}</td>
						<td ng-bind="customer.phone"></td>
						<td ng-bind="customer.zipCodes"></td>
						<!-- Calculated property -->
						<td ng-bind="customer.cities"></td>
						<!-- Calculated property -->
						<td>{{customer.registrationDate | date: dd/MM/yyyy}}</td>
						<td>{{customer.totalOrdersCount}}</td>
						<td>
							<i class="ion-clipboard cursor" ng-click="openCustomer(customer)"> View details</i>
						</td>
						<td>
							<i class="ion-clipboard cursor" ng-click="openSMSCustomer(customer)"> SMS Customer</i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<!-- /.box-body -->
</div>
<!-- /.box -->
<!-- Main row -->
<div class="row">

	<!-- MODALS -->

	<div class="modal fade" id="sendCustomerSMS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="sendCustomerSMSLabel">Send SMS to Customer</h4>
					<div class="overlay pull-right" ng-show="sendingSMS == true">
						<i class="fa fa-refresh fa-spin"></i>
					</div>
				</div>
				<div class="callout callout-danger" ng-show="serverError==true">
					<h4>Sending SMS failed!</h4>
					<p>{{serverErrorMessage}}</p>
				</div>
				<div class="callout callout-info" ng-show="notification==true">
					<h4>Notification from G2G!</h4>
					<p>{{notificationMessage}}</p>
				</div>
				<div class="modal-body">
					<form role="form" id="smsForm">
						<div class="box-body">
							<label for="mobileNumber">Mobile Number</label>
							<input type="text" class="form-control" id="mobileNumber" ng-model="smsRecepient" />
							<label for="sms">SMS</label>
							<textarea class="form-control" id="sms" ng-model="sms"></textarea>
						</div>
						<!-- /.box-body -->
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="sendSMSToCustomer()">Send</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Edit Customer</h4>
				</div>
				<div class="modal-body">
					<div class="callout callout-danger" ng-show="serverError==true">
						<h4>Saving failed!</h4>
						<p>{{serverErrorMessage}}</p>
					</div>
					<form role="form" id="customerForm">
						<div class="box-body">
							<div class="overlay" ng-show="saving == true">
								<i class="fa fa-refresh fa-spin"></i>
							</div>
							<div class="nav-tabs-custom">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#infoTab" id="infoTabLink" data-toggle="tab">Info</a>
									</li>
									<li ng-repeat="address in currentCustomer.addresses">
										<a href="#addressesTab{{address.nickname}}" data-toggle="tab">Address - {{address.nickname}}</a>
									</li>
									<li>
										<a href="#profileTab" data-toggle="tab">Profile</a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="infoTab">
										<label for="id">ID</label>
										<input type="text" class="form-control" id="id" ng-model="currentCustomer.id" disabled/>

										<label for="username">Email</label>
										<input type="text" class="form-control" id="username" ng-model="currentCustomer.username" disabled/>

										<label for="fullName">Full name</label>
										<input type="text" class="form-control" id="fullName" disabled value="{{currentCustomer.firstName + ' ' + currentCustomer.lastName}}"></input>

										<label for="phone">Phone</label>
										<input type="text" class="form-control" id="phone" ng-model="currentCustomer.phone" disabled/>

										<label for="dob">Date of birth</label>
										<input type="text" class="form-control" id="dob" value="{{currentCustomer.dateOfBirth | date: dd/MM/yyyy}}" disabled/>

										<label for="registrationDate">registrationDate</label>
										<input type="text" class="form-control" id="registrationDate" disabled value="{{currentCustomer.registrationDate | date: dd/MM/yyyy}}"></input>
									</div>
									<div class="tab-pane" ng-repeat="address in currentCustomer.addresses" id="addressesTab{{address.nickname}}">
										<div class="box-body">
											<label for="nickname">Nickname</label>
											<input type="text" class="form-control" ng-model="address.nickname" disabled/>

											<label for="streetAddress1">Street address1</label>
											<input type="text" class="form-control" ng-model="address.streetAddress1" disabled/>

											<label for="streetAddress2">Street address 2</label>
											<input type="text" class="form-control" ng-model="address.streetAddress2" disabled/>

											<label for="city">City</label>
											<input type="text" class="form-control" ng-model="address.city" disabled/>

											<label for="state">State</label>
											<input type="text" class="form-control" ng-model="address.state" disabled/>

											<label for="zipCode">Zip code</label>
											<input type="text" class="form-control" ng-model="address.zipCode" disabled/>

											<label for="addressDetails">Address details</label>
											<input type="text" class="form-control" ng-model="address.addressDetails" disabled/>
										</div>
									</div>
									<div class="tab-pane" id="profileTab">
										<table>
											<tr>
												<td>
													Status:
												</td>
												<td>
													{{currentCustomer.status}}
												</td>
												<td>
													<a href="#" ng-click="activateUser(currentCustomer)" ng-show="currentCustomer.status == 'AWAITING_ACTIVATION' || currentCustomer.status == 'LOCKED'">Activate</a>
													<a href="#" ng-click="lockUser(currentCustomer)" ng-show="currentCustomer.status == 'ACTIVE'">Lock</a>
												</td>
											</tr>
											<tr>
												<td>
													Lifetime free delivery:
												</td>
												<td ng-show="currentCustomer.eligibleForLifetimeFreeDelivery == true">
													Enabled
												</td>
												<td ng-show="currentCustomer.eligibleForLifetimeFreeDelivery == false">
													Disabled
												</td>
												<td>
													<a href="#" ng-click="markUserEligibileForLifetimeFreeDelivery(currentCustomer)" ng-show="currentCustomer.eligibleForLifetimeFreeDelivery == false">Enable</a>
													<a href="#" ng-click="markUserUnEligibileForLifetimeFreeDelivery(currentCustomer)" ng-show="currentCustomer.eligibleForLifetimeFreeDelivery == true">Disable</a>
												</td>
											</tr>
											<tr>
												<td width="150px;">
													Next delivery free:
												</td>
												<td ng-show="currentCustomer.eligibleForFreeDelivery == true" width="150px;">
													Enabled
												</td>
												<td ng-show="currentCustomer.eligibleForFreeDelivery == false" width="150px;">
													Disabled
												</td>
												<td>
													<a href="#" ng-click="markUserEligibileForFreeDelivery(currentCustomer)" ng-show="currentCustomer.eligibleForFreeDelivery == false && currentCustomer.eligibleForLifetimeFreeDelivery == false"
													    width="150px;">Enable</a>
													<a href="#" ng-click="markUserUnEligibileForFreeDelivery(currentCustomer)" ng-show="currentCustomer.eligibleForFreeDelivery == true && currentCustomer.eligibleForLifetimeFreeDelivery == false"
													    width="150px;">Disable</a>
												</td>
											</tr>
											<tr>
												<td>
													Plan:
												</td>
												<td colspan="2">
													<select class="form-control" ng-model="currentCustomer.plan" ng-options="plan.name for plan in plans track by plan.name"
													    ng-change="updateCustomersPlan();">
													</select>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
						<!-- /.box-body -->
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<!-- MODALS END -->

</div>