<div class="box">
  <div class="box-header">
    <h3 class="box-title">
      <%= title %>
    </h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="overlay" ng-show="loading == true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body table-responsive no-padding" ng-show="loading == false">
      <table id="groupTripsTable" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Departure</th>
            <th>Return</th>
            <th>Num of Persons</th>
            <th>Total Cost</th>
            <th>Is New</th>
            <th>Is Ended</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="trip in groupTrips">
            <td>{{trip.enName}}
              <!-- <a href="javascript:void" ng-click="openEditDialog(trip.id)">{{trip.enName}}</a> -->
            </td>
            <td>{{trip.departureDate | date: 'MMM dd, yyyy'}}</td>
            <td>{{trip.returnDate | date: 'MMM dd, yyyy'}}</td>
            <td>{{trip.numOfPersons}}</td>
            <td>{{trip.totalCost}}</td>
            <td>
              <input type="checkbox" name="is-new-{{trip.id}}" id="is-new-{{trip.id}}" ng-model="trip.isNew" ng-checked="trip.isNew" ng-change="toggle(trip.id, 'isNew')">
            </td>
            <td>
              <input type="checkbox" name="is-new-{{trip.id}}" id="is-new-{{trip.id}}" ng-model="trip.isEnded" ng-checked="trip.isEnded"
                ng-change="toggle(trip.id, 'isEnded')">
            </td>
          </tr>
        </tbody>
        <tfooter>
          <tr>
            <td colspan="7">
              <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="addModal" ng-click="openAddDialog()">Add Group Trip</button>
            </td>
          </tr>
        </tfooter>
      </table>
    </div>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
<!-- Main row -->
<div class="row">

  <!-- MODALS -->

  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">{{editMode ? 'Update' : 'Add'}} Group Trip</h4>
        </div>
        <div class="modal-body">
          <div class="callout callout-danger" ng-show="serverError==true">
            <h4>Saving failed!</h4>
            <p>{{serverErrorMessage}}</p>
          </div>
          <form role="form" id="newGroupTripForm" enctype="multipart/form-data">
            <div class="box-body">
              <div class="overlay" ng-show="saving == true">
                <i class="fa fa-refresh fa-spin"></i>
              </div>
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#basicTab" data-toggle="tab">Basic</a>
                  </li>
                  <li>
                    <a href="#mailSettingsTab" data-toggle="tab">Mail Settings</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="basicTab">
                    <div class="form-group" ng-show="saving==false">
                      <label class="control-label text-red" for="itinerary" ng-show="itineraryMissing==true">
                        <i class="fa fa-times-circle-o"></i>Itinerary is missing</label>
                      <label for="itinerary" ng-show="itineraryMissing==false">Itinerary</label>
                      <select class="form-control" id="itinerary" ng-model="newGroupTrip.iternaryId">
                        <option ng-repeat="itinerary in itineraries" ng-value="itinerary.id" ng-selected="itinerary.id === newGroupTrip.iternaryId">{{itinerary.en_name}}</option>
                      </select>
                    </div>
                    <div class="form-group" ng-show="saving==false">
                      <label class="control-label text-red" for="departureDate" ng-show="departureDateMissing==true">
                        <i class="fa fa-times-circle-o"></i>Departure Date is missing</label>
                      <label for="departureDate" ng-show="departureDateMissing==false">Departure Date</label>
                      <input type="date" class="form-control" id="departureDate" format="yyyy-MM-dd" ng-model="newGroupTrip.departureDate">
                    </div>
                    <div class="form-group" ng-show="saving==false">
                      <label class="control-label text-red" for="returnDate" ng-show="returnDateMissing==true">
                        <i class="fa fa-times-circle-o"></i>Return Date is missing</label>
                      <label for="returnDate" ng-show="returnDateMissing==false">Return Date</label>
                      <input type="date" class="form-control" id="returnDate" format="yyyy-MM-dd" ng-model="newGroupTrip.returnDate">
                    </div>
                    <div class="form-group" ng-show="saving==false">
                      <label class="control-label text-red" for="numOfPersons" ng-show="numOfPersonsMissing==true">
                        <i class="fa fa-times-circle-o"></i>Number Of Persons is missing</label>
                      <label for="numOfPersons" ng-show="numOfPersonsMissing==false">Number Of Persons</label>
                      <input type="number" class="form-control" id="numOfPersons" ng-model="newGroupTrip.numOfPersons" min="1" required>
                    </div>
                    <div class="form-group" ng-show="saving==false">
                      <label class="control-label text-red" for="totalCost" ng-show="totalCostMissing==true">
                        <i class="fa fa-times-circle-o"></i>Total Cost is missing</label>
                      <label for="totalCost" ng-show="totalCostMissing==false">Total Cost</label>
                      <input type="number" class="form-control" id="totalCost" ng-model="newGroupTrip.totalCost" min="0" required>
                    </div>
                    <div class="form-group" ng-show="saving==false">
                      <label class="control-label text-red" for="image" ng-show="imageMissing==true">
                        <i class="fa fa-times-circle-o"></i>Image is missing</label>
                      <label for="image" ng-show="imageMissing==false">Image</label>
                      <input type="text" class="form-control" id="image" ng-model="newGroupTrip.image" placeholder="Enter image URI" required>
                    </div>
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="mailSettingsTab">
                    <div class="form-group" ng-show="saving==false">
                      <label class="control-label text-red" for="mailSubject" ng-show="mailSubjectMissing==true">
                        <i class="fa fa-times-circle-o"></i>Email Subject is missing</label>
                      <label for="mailSubject" ng-show="mailSubjectMissing==false">Email Subject</label>
                      <input type="text" prefix="Tripdizer - " class="form-control" id="mailSubject" ng-model="newGroupTrip.mailSubject" placeholder="Enter Email Subject"
                        required>
                    </div>
                    <div class="form-group" ng-show="saving==false">
                      <label class="control-label text-red" for="mailBody" ng-show="mailBodyMissing==true">
                        <i class="fa fa-times-circle-o"></i>Email Body is missing</label>
                      <label for="mailBody" ng-show="mailBodyMissing==false">Email Body</label>
                      <text-angular id="mailBody" ng-model="newGroupTrip.mailBody" ng-init="newGroupTrip.mailBody = generateMailBody()" placeholder="Enter body"
                        ta-text-editor-class="form-control richtext" ta-html-editor-class="form-control richtext" ta-toolbar="[['h1', 'h2', 'h3', 'p', 'pre', 'quote'],['insertImage','insertLink', 'insertVideo'],['html','wordcount'],['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent']]"></text-angular>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="mailAttachments">Attachments:
                        <span class="text-red">{{editMode ? 'You have to upload the attachments again!' : ''}}</span>
                      </label>
                      <input type="file" class="form-control" id="mailAttachments" ng-file-model="newGroupTrip.mailAttachments" multiple>
                    </div>
                    <!-- /.form group -->
                  </div>
                </div>
                <!-- /.tab-content -->
              </div>
            </div>
            <!-- /.box-body -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="add(true)" ng-show="editMode==false">Save and close</button>
          <button type="button" class="btn btn-primary" ng-click="add(false)" ng-show="editMode==false">Save and add another</button>
          <button type="button" class="btn btn-primary" ng-click="edit()" ng-show="editMode==true">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- MODALS END -->

</div>