<!-- Small boxes (Stat box) -->
<% include ../partials/statesboxes %>
  <!-- /.row -->
  <!-- Filters  -->
  <% include ../partials/search-criteria %>
    <!-- /.box -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Requests</h3>
        <i class="fa fa-file-excel-o" style="float: right; cursor: pointer;" export-excel data="currentOrders" report-fields="excelFields"
          filename="filename" countries="countries" budgetCategories="budgetCategories" purposes="purposes" interests="interests">Export to Excel</i>
        <div class="box-body">
          <div class="overlay" ng-show="refreshingOrders == true">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
          <div class="box-body table-responsive no-padding" ng-show="refreshingOrders == false">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Traveler Name</th>
                  <th>Traveler Email</th>
                  <th>Traveler Mobile</th>
                  <th>Request Date</th>
                  <th>Request Status</th>
                  <%if (user.isAdmin) { %>
                  <th></th>
                  <% } %>
                  <th>Request Details</th>
                  <th>User</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="order in currentOrders" ng-show="currentOrders.length != 0">
                  <td ng-bind="order.id"></td>
                  <td ng-bind="order.traveler.name"></td>
                  <td>
                    <a style="cursor: pointer;" ng-click="showMailModal('traveler', order.traveler.emailAddress)">
                      <i class="fa fa-envelope"></i> {{order.traveler.emailAddress}}</a>
                  </td>
                  <td ng-bind="order.traveler.mobile"></td>
                  <td>{{order.date | date: 'mediumDate'}}</td>
                  <td>
                    <select ng-model="order.status" ng-change="changeOrderStatus(order)">
                      <option ng-repeat="status in statuses" ng-value="status.id" ng-selected="status.id == order.status">{{status.title}}</option>
                    </select>
                  </td>
                  <%if (user.isAdmin) { %>
                  <td>
                    <label>
                      <input type="checkbox" name="orderEdit" ng-checked="order.edit" ng-click="toggleOptions(order.id, 'edit')"> Edit
                    </label>
                    <label>
                      <input type="checkbox" name="orderReachable" ng-checked="order.reachable" ng-click="toggleOptions(order.id, 'reachable')"> Reachable
                    </label>
                    <label>
                      <input type="checkbox" name="orderPackageSent" ng-checked="order.packageSent" ng-click="toggleOptions(order.id, 'Package_Sent')"> Package Sent
                    </label>
                  </td>
                  <% } %>
                  <td>
                    <i class="ion-clipboard cursor" ng-click="openFullDetailsDialog(order.id)"> Full Details</i>
                  </td>
                  <td>
                    <div ng-show="order.userFullName == null">
                      <i class="cursor" ng-click="openAssignRequestToUser(order)"> Assign</i>
                    </div>
                    <div ng-show="order.userFullName != null">
                      {{order.userFullName}} |
                      <i class="cursor" ng-click="openAssignRequestToUser(order)"> Re-assign</i>
                    </div>
                  </td>
                </tr>
                <tr ng-show="currentOrders.length == 0">
                  <td colspan="10">
                    <span class="text">There are no requests matching your selection ...</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <!-- MODALS -->
        <div class="modal fade" id="assignUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Assign user to work on a request</h4>
              </div>
              <div class="modal-body">
                <form role="form" id="orderForm">
                  <div class="box-body">
                    <div class="overlay" ng-show="loading == true">
                      <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <select class="form-control" ng-model="selectedUser" ng-options="user.fullName for user in users track by user.id"></select>
                  </div>
                  <!-- /.box-body -->
                </form>
              </div>
              <div class="modal-footer">
                <button class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button class="btn btn-default pull-right" ng-click="assignRequestToUser(currentOrder.id);">Assign</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="orderDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Order Details</h4>
              </div>
              <div class="modal-body">
                <form role="form" id="orderForm">
                  <div class="box-body">
                    <div class="overlay" ng-show="loading == true">
                      <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <div class="nav-tabs-custom">
                      <ul class="nav nav-tabs">
                        <li class="active">
                          <a href="#requestTab" data-toggle="tab">Request</a>
                        </li>
                        <li>
                          <a href="#travelerTab" data-toggle="tab">Traveler</a>
                        </li>
                        <li>
                          <a href="#datesTab" data-toggle="tab">Dates & Destinations</a>
                        </li>
                        <li>
                          <a href="#purposeTab" data-toggle="tab">Purpose</a>
                        </li>
                        <li>
                          <a href="#budgetTab" data-toggle="tab">Budget</a>
                        </li>
                        <li>
                          <a href="#answersTab" data-toggle="tab">Interests</a>
                        </li>
                        <li>
                          <a href="#detailsTab" data-toggle="tab">Assistance</a>
                        </li>
                        <li>
                          <a href="#revenueTab" data-toggle="tab">Financials</a>
                        </li>
                        <li ng-if="currentOrder.itineraryId">
                          <a href="#generatePackageTab" data-toggle="tab">Generate Package</a>
                        </li>
                        <li>
                          <a href="#mailshistoryTab" data-toggle="tab">Mails History</a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="requestTab">
                          <div>
                            <label for="id">ID</label>
                            <input type="text" disabled class="form-control" id="id" ng-model="currentOrder.id">
                            <label for="status">Status</label>
                            <input type="text" disabled class="form-control" id="status" ng-model="currentOrder.status">
                            <label for="placed">Placed</label>
                            <input type="text" disabled class="form-control" id="placed" format="MMM d, y" ng-model="currentOrder.date">
                            <label for="comments">Comments</label>
                            <textarea class="form-control" id="comments" ng-model="currentOrder.comments"></textarea>
                            <label for="userFullName">Assigned User</label>
                            <input type="text" disabled class="form-control" id="userFullName" ng-model="currentOrder.userFullName"></input>
                          </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="travelerTab">
                          <div>
                            <label for="customer">Traveler</label>
                            <input type="text" disabled class="form-control" id="customer" ng-model="currentOrder.traveler.name">
                            <label for="phone">Phone</label>
                            <input type="text" disabled class="form-control" id="phone" ng-model="currentOrder.traveler.mobile">
                            <label for="email">Email</label>
                            <input type="text" disabled class="form-control" id="email" ng-model="currentOrder.traveler.emailAddress">
                            <label for="dob">Date of birth</label>
                            <input type="text" disabled class="form-control" id="dob" format="MMM d, y" ng-model="currentOrder.traveler.dateOfBirth">
                            <label for="referralType">Referral</label>
                            <select disabled class="form-control" id="referralType" ng-model="currentOrder.referralType">
                              <option ng-repeat="type in referralTypes" ng-value="type.id" ng-selected="type.id === currentOrder.referralType">{{type.enName}}</option>
                            </select>
                          </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="datesTab">
                          <div>
                            <label for="departureDate">Departure Date</label>
                            <input type="date" class="form-control" id="departureDate" format="yyyy-MM-dd" ng-model="currentOrder.departureDate">
                            <label for="returnDate">Return Date</label>
                            <input type="date" class="form-control" id="returnDate" format="yyyy-MM-dd" ng-model="currentOrder.returnDate">
                            <label for="flexibleDates">Flexible Dates</label>
                            <select class="form-control" id="flexibleDates" ng-model="currentOrder.flexibleDates">
                              <option value="1" ng-selected="currentOrder.flexibleDates === 1">True</option>
                              <option value="0" ng-selected="currentOrder.flexibleDates === 0">False</option>
                            </select>
                            <label for="leavingCountry">Leaving Country</label>
                            <input type="text" class="form-control" id="leavingCountry" ng-model="currentOrder.leavingCountry">
                            <div ng-if="!currentOrder.itineraryId">
                              <label for="firstCountry">First Country</label>
                              <select class="form-control" id="firstCountry" ng-model="currentOrder.firstCountry">
                                <option ng-repeat="country in countries" ng-value="country.id" ng-selected="country.id === currentOrder.firstCountry">{{country.en_name}}</option>
                              </select>
                              <div ng-if="currentOrder.firstCountry == '1'">
                                <label for="otherCountry">Other Country</label>
                                <input type="text" class="form-control" id="otherCountry" ng-model="currentOrder.otherCountry">
                              </div>
                              <div ng-if="currentOrder.secondCountry != 0">
                                <label for="secondCountry">Second Country</label>
                                <select class="form-control" id="secondCountry" ng-model="currentOrder.secondCountry">
                                  <option ng-repeat="country in countries" ng-value="country.id" ng-selected="country.id === currentOrder.secondCountry">{{country.en_name}}</option>
                                </select>
                              </div>
                              <div ng-if="currentOrder.thirdCountry != 0">
                                <label for="thirdCountry">Third Country</label>
                                <select class="form-control" id="thirdCountry" ng-model="currentOrder.thirdCountry">
                                  <option ng-repeat="country in countries" ng-value="country.id" ng-selected="country.id === currentOrder.thirdCountry">{{country.en_name}}</option>
                                </select>
                              </div>
                            </div>
                            <div ng-if="currentOrder.itineraryId">
                              <label for="firstCountry">Itinerary</label>
                              <select class="form-control" id="itineraryId" ng-model="currentOrder.itineraryId">
                                <option ng-repeat="itinerary in itineraries" ng-value="itinerary.id" ng-selected="itinerary.id === currentOrder.itineraryId">{{itinerary.en_name}}</option>
                              </select>
                              <div ng-if="currentOrder.itineraryId == '-1'">
                                <label for="otherCountry">Other Country</label>
                                <input type="text" class="form-control" id="otherCountry" ng-model="currentOrder.otherCountry">
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="purposeTab">
                          <div>
                            <label for="travelPurpose">Travel Purpose</label>
                            <select class="form-control" id="travelPurpose" ng-model="currentOrder.travelPurpose">
                              <option ng-repeat="purpose in purposes" ng-value="purpose.id" ng-selected="purpose.id === currentOrder.travelPurpose">{{purpose.en_name}}</option>
                            </select>
                            <label for="numberOfAdults">Number Of Adults</label>
                            <input type="number" min="1" step="1" class="form-control" id="numberOfAdults" ng-model="currentOrder.numberOfAdults">
                            <label for="numberOfKids">Number Of Kids</label>
                            <input type="number" min="1" step="1" class="form-control" id="numberOfKids" ng-model="currentOrder.numberOfKids">
                            <!-- <label for="kidsAge">Kids Age</label> -->
                            <!-- <textarea class="form-control" id="kidsAge" ng-model="currentOrder.kidsAge"></textarea> -->
                            <label for="numberOfInfants">Number Of Infants</label>
                            <input type="number" min="1" step="1" class="form-control" id="numberOfInfants" ng-model="currentOrder.numberOfInfants">
                          </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="budgetTab">
                          <div>
                            <label for="budgetCategory">Budget Category</label>
                            <select class="form-control" id="budgetCategory" ng-model="currentOrder.budgetCategory">
                              <option ng-repeat="budget in budgetCategories" ng-value="budget.id" ng-selected="budget.id === currentOrder.budgetCategory">{{budget.en_name}}</option>
                            </select>

                            <label for="estimatedBudget">Estimated Budget</label>
                            <input type="number" disabled class="form-control" id="estimatedBudget" ng-model="currentOrder.estimatedCost">

                            <label for="leavingCountry">Budget</label>
                            <input type="text" class="form-control" id="leavingCountry" ng-model="currentOrder.budget">
                          </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="answersTab">
                          <table id="example2" class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th>Interest</th>
                                <th>Percentage</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="interest in currentOrder.interests" ng-show="currentOrder.interests.length != 0">
                                <td>{{interests[interest.id - 1].en_name}}</td>
                                <td>{{interest.percentage | number}}%</td>
                              </tr>
                            </tbody>
                          </table>
                          <div>
                          </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="detailsTab">
                          <div>
                            <label for="visaAssistanceNeeded">Visa Assistance Needed</label>
                            <select class="form-control" id="visaAssistanceNeeded" ng-model="currentOrder.visaAssistanceNeeded">
                              <option value="1" ng-selected="currentOrder.visaAssistanceNeeded === 1">True</option>
                              <option value="0" ng-selected="currentOrder.visaAssistanceNeeded === 0">False</option>
                            </select>
                            <label for="tourGuideNeeded">Tour Guide Needed</label>
                            <select class="form-control" id="tourGuideNeeded" ng-model="currentOrder.tourGuideNeeded">
                              <option value="1" ng-selected="currentOrder.tourGuideNeeded === 1">True</option>
                              <option value="0" ng-selected="currentOrder.tourGuideNeeded === 0">False</option>
                            </select>
                          </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="revenueTab">
                          <div>
                            <label for="profit">Revenue</label>
                            <input type="number" min="0.00" step="1" class="form-control" id="revenue" ng-model="currentOrder.revenue">
                            <label for="profit">Profit</label>
                            <input type="number" min="0.00" step="1" class="form-control" id="profit" ng-model="currentOrder.profit">
                          </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="generatePackageTab">
                          <!-- <input type="text" class="form-control" id="packageName" ng-model="currentOrder.packageName" ng-change="currentOrder.generatedFile = null">
                                  <input type="text" class="form-control" id="destinationName" ng-model="currentOrder.destinationName" ng-change="currentOrder.generatedFile = null">
                                  <input type="text" class="form-control" id="introduction" ng-model="currentOrder.introduction" ng-change="currentOrder.generatedFile = null"> -->
                          <center>
                            <div ng-show="loading">
                              <i class="fa fa-refresh fa-spin"></i>
                            </div>
                            <button ng-if="!currentOrder.generatedFile && !loading" ng-click="generatePackage()">Generate</button>
                            <a ng-if="currentOrder.generatedFile && !loading" ng-href="{{currentOrder.generatedFile}}" target="_blank">Generated File</a>
                          </center>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="mailshistoryTab">
                          <table class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th>Date</th>
                                <th>Subject</th>
                                <th>Files</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="mail in currentOrder.mailsHistory" ng-show="currentOrder.questionAnswers.length != 0">
                                <td>{{mail.date | date: 'MMM d, yyyy h:mma'}}</td>
                                <td ng-bind="mail.subject"></td>
                                <td>
                                  <ul>
                                    <li ng-repeat="attachment in mail.attachments">{{attachment}}</li>
                                  </ul>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!-- /.tab-content -->
                    </div>
                    <!-- nav-tabs-custom -->
                  </div>
                  <!-- /.box-body -->
                </form>
              </div>
              <div class="modal-footer">
                <button class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button class="btn btn-default pull-right" ng-click="updateOrder();">Save and close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- MODALS END -->
      </div>
    </div>