<div class="box">
  <div class="box-header">
    <h3 class="box-title">
      <%= title %>
    </h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="overlay" ng-show="loading == true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body table-responsive no-padding" ng-show="loading == false">
      <table id="partnersTable" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="partner in partners">
            <td ng-bind="partner.name"></td>
            <td ng-bind="partner.email"></td>
            <td>
              <i class="fa fa-edit cursor" ng-click="openEditDialog(partner.id)"> Edit</i>
            </td>
            <td>
              <i class="ion-ios-pause cursor" ng-show="partner.active==true" ng-click="toggleActivation(partner.id)"> Deactivate</i>
              <i class="ion-ios-play cursor" ng-show="partner.active==false" ng-click="toggleActivation(partner.id)"> Activate</i>
              <i class="fa fa-refresh fa-spin" ng-show="saving==true && currentId == partner.id"></i>
            </td>
          </tr>
        </tbody>
        <tfooter>
          <tr>
            <td colspan="6">
              <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="addPartnerModal" ng-click="openAddDialog()">Add Partner</button>
            </td>
          </tr>
        </tfooter>
      </table>
    </div>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
<!-- Main row -->
<div class="row">

  <!-- MODALS -->

  <div class="modal fade" id="addPartnerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Add or Modify Partner</h4>
        </div>
        <div class="modal-body">
          <div class="callout callout-danger" ng-show="serverError==true">
            <h4>Saving failed!</h4>
            <p>{{serverErrorMessage}}</p>
          </div>
          <form role="form" id="newPartnerForm">
            <div class="box-body">
              <div class="overlay" ng-show="saving == true">
                <i class="fa fa-refresh fa-spin"></i>
              </div>
              <div class="form-group" ng-show="saving==false">

                <label class="control-label text-red" for="name" ng-show="nameMissing==true">
                  <i class="fa fa-times-circle-o"></i>Name is missing</label>
                <label for="name" ng-show="nameMissing==false">Name</label>
                <input type="text" required class="form-control" id="name" ng-model="newPartner.name" placeholder="Enter name" required>

                <label class="control-label text-red" for="email" ng-show="emailMissing==true">
                  <i class="fa fa-times-circle-o"></i>Email is missing</label>
                <label for="email" ng-show="emailMissing==false">Email</label>
                <input type="text" required class="form-control" id="email" ng-model="newPartner.email" placeholder="Enter Email" required>
              </div>
              <!-- /.form group -->
            </div>
            <!-- /.box-body -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="addPartner(true)" ng-show="editMode==false">Save and close</button>
          <button type="button" class="btn btn-primary" ng-click="addPartner(false)" ng-show="editMode==false">Save and add another</button>
          <button type="button" class="btn btn-primary" ng-click="editPartner()" ng-show="editMode==true">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- MODALS END -->

</div>