<div class="box">
  <div class="box-header">
    <h3 class="box-title">
      <%= title %>
    </h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="overlay" ng-show="loading == true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body table-responsive no-padding" ng-show="loading == false">
      <table id="usersTable" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Phone</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td ng-bind="user.username"></td>
            <td ng-bind="user.fullName"></td>
            <td ng-bind="user.phone"></td>
            <td>
              <i class="fa fa-edit cursor" ng-click="openEditDialog(user.id)"> Edit</i>
            </td>
            <td>
              <i class="ion-ios-pause cursor" ng-show="user.active==true" ng-click="toggleActivation(user.id)"> Deactivate</i>
              <i class="ion-ios-play cursor" ng-show="user.active==false" ng-click="toggleActivation(user.id)"> Activate</i>
              <i class="fa fa-refresh fa-spin" ng-show="saving==true && currentId == user.id"></i>
            </td>
          </tr>
        </tbody>
        <tfooter>
          <tr>
            <td colspan="5">
              <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="addUserModal" ng-click="openAddDialog()">Add User</button>
            </td>
          </tr>
        </tfooter>
      </table>
    </div>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
<!-- Main row -->
<div class="row">

  <!-- MODALS -->

  <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Add or Modify User</h4>
        </div>
        <div class="modal-body">
          <div class="callout callout-danger" ng-show="serverError==true">
            <h4>Saving failed!</h4>
            <p>{{serverErrorMessage}}</p>
          </div>
          <form role="form" id="newUserForm">
            <div class="box-body">
              <div class="overlay" ng-show="saving == true">
                <i class="fa fa-refresh fa-spin"></i>
              </div>
              <div class="form-group" ng-show="saving==false">

                <label class="control-label text-red" for="username" ng-show="usernameMissing==true">
                  <i class="fa fa-times-circle-o"></i>Username is missing</label>
                <label for="username" ng-show="usernameMissing==false">User name</label>
                <input type="text" required class="form-control" id="username" ng-model="newUser.username" placeholder="Enter username" required>

                <label class="control-label text-red" for="password" ng-show="passwordMissing==true">
                  <i class="fa fa-times-circle-o"></i>Password is missing</label>
                <label for="password" ng-show="passwordMissing==false">Password</label>
                <input type="text" required class="form-control" id="password" ng-model="newUser.password" placeholder="Enter password" required>

                <label class="control-label text-red" for="password2" ng-show="password2Missing==true">
                  <i class="fa fa-times-circle-o"></i>Confirmation password doesn't match</label>
                <label for="password2" ng-show="password2Missing==false">Confirmation password</label>
                <input type="text" required class="form-control" id="password2" ng-model="newUser.password2" placeholder="Enter confirmation password"
                  required>

                <label class="control-label text-red" for="fullName" ng-show="fullNameMissing==true">
                  <i class="fa fa-times-circle-o"></i>Full name is missing</label>
                <label for="fullName" ng-show="fullNameMissing==false">Full name</label>
                <input type="text" required class="form-control" id="fullName" ng-model="newUser.fullName" placeholder="Enter full name"
                  required>

                <label class="control-label text-red" for="phone" ng-show="phoneMissing==true">
                  <i class="fa fa-times-circle-o"></i>Phone is missing</label>
                <label for="phone" ng-show="phoneMissing==false">Phone</label>
                <input type="text" required class="form-control" id="phone" ng-model="newUser.phone" placeholder="Enter phone" required>

              </div>
              <!-- /.form group -->
            </div>
            <!-- /.box-body -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="addUser(true)" ng-show="editMode==false">Save and close</button>
          <button type="button" class="btn btn-primary" ng-click="addUser(false)" ng-show="editMode==false">Save and add another</button>
          <button type="button" class="btn btn-primary" ng-click="editUser()" ng-show="editMode==true">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- MODALS END -->

</div>