dashboard/.settings
dashboard/node_modules/
dashboard/.project
dashboard/build_local.ant
dashboard/build_prod.ant
dashboard/build_test.ant
dashboard/run.bat
public/node_modules/
public/.project
public/bat/
services/.externalToolBuilders/
services/.settings/
services/db_scripts/
services/.project
services/build_local.ant
services/build_prod.ant
services/build_test.ant
services/run.bat
services/node_modules/