/*.specialRequestsTextArea {
    height: 150px;
    margin-left: 300px;
   direction: rtl;
    
}
.fullWidth {
    width: 70%;
}
.specialRequests{
    padding-top: 100px !important;
    float: right;
}
input[type="checkbox"]{
    box-sizing: border-box;
    padding-right: -300px;
}
.lbl1{
    margin-top: 10%;
    left:172%;
    position: relative;
}
.lbl2{
    left: 600%;
    position: relative;
}
span.form-description {
    width: 90%;
    color: #A09D9D;
    margin: 5px auto;
    display: block;
    text-align: right;
    font-size: 0.9em;
    direction: rtl;
    margin-right: 80%;
}
*/