<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">

<head>
    <!-- Site Title-->
    <title>Tripdizer</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <meta property="og:title" content="Tripdizer" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="/images/logo-1000x1000.png" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:400,600,700">
    <link rel="stylesheet" href="css/style.css">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/animate-ar.css" rel="stylesheet">
    <link href="css/ranger-ar.css" rel="stylesheet">
    <link href="css/materialize-ar.css" rel="stylesheet">
    <link href="css/overlay-ar.css" rel="stylesheet">
    <link href="css/jquery.steps-ar.css" rel="stylesheet">
    <link href="css/hws-overrides-ar.css" rel="stylesheet">
    <link href="css/media-query-ar.css" rel="stylesheet">
    <link href="css/modify-ar.css" rel="stylesheet">
    <link href="css/Query-ar.css" rel="stylesheet">
    <link rel="stylesheet" href="css/materialdesignicons.min.css">

    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css">

    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
    <style>
        option {
            direction: rtl
        }

        @media (max-width: 670px) {
            span.form-description {
                margin-top: 40px;
            }
        }

        @media (max-width: 33px) {
            span.form-description {
                margin-right: 0;
            }
        }

        .menu {
            height: 320px;
            width: 230px;
            background: rgba(0, 0, 0, 0.79);
            z-index: 0;
            box-shadow: 3px 3px 3px #333;
            position: fixed;
        }

        h5 {
            cursor: pointer;
            color: #fff;
            z-index: 99;
            font-size: 20px;
            font-family: sans-serif, serif;
            direction: rtl;
            padding: 6px 10px;
            font-weight: 500;
        }
    </style>
    <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '198150784300872');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=198150784300872&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->


</head>

<body ng-app="TripdizerApplication">
    <!-- Page-->
    <div class="page text-center">
        <!-- Page Head-->
        <header class="page-head slider-menu-position">
            <!-- RD Navbar Transparent-->
            <div class="rd-navbar-wrap">
                <nav data-sm-layout="rd-navbar-static" data-sm-device-layout="rd-navbar-static" data-sm-auto-height="true" data-sm-stick-up="true"
                    class="rd-navbar rd-navbar-default blackbg">
                    <div class="rd-navbar-inner" style="padding-top: 10px;">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <div data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle">
                                <span></span>
                            </div>
                            <!-- Navbar Brand-->
                            <div class="rd-navbar-brand navbar-right">
                                <a href="index-ar.html">
                                    <img height="36" src="images/logo-250x131.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="rd-navbar-menu-wrap navbar-left">
                            <div class="rd-navbar-nav-wrap navbar-left">
                                <div class="rd-navbar-mobile-scroll navbar-left">
                                    <!-- RD Navbar Nav-->
                                    <ul class="rd-navbar-nav navbar-left">
                                        <li>
                                            <a href="reservation.html" class="btn btn-primary btn-icon btn-icon-left btn-sm btn-ellipse" style="  line-height: 22px;font-size: 12px;color: #fff;background-color: #ff6b6b;border-color: #ff6b6b;bottom: 16px;  margin-right: 100px; text-transform: capitalize;">English</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Homburger menue-->
                        <div id="menuToggle" style="display:none; cursor:pointer;z-index: 999999;position: fixed;">
                            <input type="checkbox" />
                            <a href="javascript:void(0)" id="nuToggle">
                                <span class="menuToggle"></span>
                                <span class="menuToggle"></span>
                                <span class="menuToggle"></span>
                            </a>
                        </div>

                    </div>
                </nav>
                <div class="menu" style="display:none">
                    <h5 style="padding-top:30px" class="one">حدد وجهتك</h5>
                    <h5 class="two">معلومات الرحلة</h5>
                    <h5 class="three">اهتماماتك</h5>
                    <h5 class="four">مساعدة السفر</h5>
                    <h5 class="five">التفاصيل</h5>
                    <h5 class="six">التأكيد</h5>

                </div>
            </div>
        </header>
        <!-- Page Contents-->
        <main class="page-content">
            <!--Top Travel Tours-->
            <section id="home" ng-controller="ReservationController">
                <div id="registerationflow" class="row col-lg-12 animated slideInDown">
                    <div class="col-lg-12 numeric-wizard-container noPadding">
                        <form action="post" id="registrationForm">
                            <div class="wizard-content-container" id="wizard">
                                <h3 class="txt1">حدد وجهتك</h3>

                                <fieldset class="">
                                    <div class="wizard-tab-content row animate slideInLeft">
                                        <div class="inner col-lg-12" id="first">

                                            <div class="col-lg-4 col-md-4 col-sm-4 left-side country">
                                                <div class="inner">
                                                    <div class="tittle-container">
                                                        <h3 class="flow-tittle flow-tittle-override f-flow" style="margin-top: 15px;">

                                                            <span class="glyphicon glyphicon-map-marker"></span> حدد وجهتك
                                                        </h3>
                                                    </div>
                                                    <div class="row">
                                                        <!-- <span class="form-description">اختر الي ثلاث وجهات</span> -->
                                                        <div class="col s12">
                                                            <div class="row" id="lcationPickupContainer">
                                                                <div class="input-field col s11">
                                                                    <select id="from" name="from" ng-model="selectedSource" class="select-override">
                                                                        <option value="" disabled selected>اسافر من ...</option>
                                                                        <option class="majorOption" value="Egypt">مصر</option>
                                                                        <option value="Cairo">القاهرة</option>
                                                                        <option value="Alexandria">الاسكندرية</option>
                                                                        <option value="Hurghada">الغردقة</option>
                                                                        <option value="Sharm El-Sheikh">شرم الشيخ</option>
                                                                    </select>
                                                                </div>
                                                                <div class="row col s12 noPadding toDestinationField">
                                                                    <div class="input-field col s11">
                                                                        <select id="to" name="to" class="to-destination select-override" ng-change="countryChanged()" ng-model="selectedFirstDestination">
                                                                            <option value="" disabled selected>وارغب في السفر الي...</option>
                                                                            <option disabled class="majorOption">رحلات</option>
                                                                            <option value="i::{{itinerary.id}}" data-description="{{itinerary.countries_ar_descriptions}}" data-display-name="{{itinerary.countries_ar_names}}" data-latlng="{{itinerary.latitudes}}, {{itinerary.longitudes}}" data-file-name="{{itinerary.countries_en_names}}" ng-repeat="itinerary in itineraries">{{itinerary.name}}</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="input-field col s11">
                                                                        <input type="text" id="otherCountries" ng-model="selectedOtherDestinations" name="otherCountries" ng-show="(selectedDestinations[0] === '-1')"
                                                                        />
                                                                        <label for="otherCountries" style="direction:rtl">حدد بلدان اخري</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8  col-md-8 col-sm-8  right-side map">
                                                <div class="inner">
                                                    <div id="flow-map-container"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <h3 class="">معلومات الرحلة</h3>
                                <fieldset class="">
                                    <div class="wizard-tab-content row animate slideInLeft">
                                        <div class="inner col-lg-12" id="second">
                                            <div class="col-lg-9 left-side align-center-block">
                                                <div class="inner">
                                                    <div class="tittle-container">
                                                        <h3 class="flow-tittle flow-tittle-override">

                                                            <span class="iconTitle infoIconTitle"></span> معلومات الرحلة :
                                                        </h3>
                                                    </div>
                                                    <div class="row">
                                                        <span class="form-description">أخبرنا بتاريخ الرحلة وهدفها وميزانيتك ...</span>
                                                        <div class="col s12">
                                                            <div class="row">

                                                                <div class="col-lg-4 col-sm-12 noPadding leave">
                                                                    <div class="input-field col s12">
                                                                        <i class="material-icons prefix glyphicon glyphicon-calendar"></i>
                                                                        <input id="date_from" name="date_from" type="text" class="datepicker" ng-model="selectedFrom" style="direction:rtl" ng-change="departureDateChanged(); invalidateEstimation();">
                                                                        <label for="date_from" class="left-aligned-text" style="direction:rtl">مغادرة</label>

                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4 col-sm-12 noPadding leave">
                                                                    <div class="input-field col s12">
                                                                        <i class="material-icons prefix glyphicon glyphicon-calendar"></i>
                                                                        <input id="date_to" name="date_to" type="text" class="datepicker" ng-model="selectedTo" style="direction:rtl" ng-change="invalidateEstimation()">
                                                                        <label for="date_to" class="left-aligned-text" style="direction:rtl">عودة</label>

                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4 col-sm-12 noPadding">
                                                                    <div class="input-field col s12">
                                                                         <input type="checkbox" id="test5" ng-model="plusOrMinusThreeDays" />
                                                                        <label for="test5"> (تواريخ قابلة للتعديل (+/- ٣ أيام </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-4 col-sm-4 noPadding">
                                                                    <div class="input-field col s12">
                                                                        <i class="material-icons prefix glyphicon glyphicon-user"></i>
                                                                        <input id="infants_number" name="infants_number" type="number" ng-model="numberOfInfants" class="active right-aligned-text"
                                                                            ng-change="invalidateEstimation()">
                                                                        <label for="infants_number" class="right-aligned-text">عدد الرضع</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4 col-sm-4 noPadding">
                                                                    <div class="input-field col s12">
                                                                        <i class="material-icons prefix glyphicon glyphicon-user"></i>
                                                                        <input id="kids_number" name="kids_number" type="number" ng-model="numberOfKids" class=" right-aligned-text active" ng-change="invalidateEstimation('kids')">
                                                                        <label for="kids_number" class="right-aligned-text">عدد الاطفال</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4 col-sm-4 noPadding">
                                                                    <div class="input-field col s12">
                                                                        <i class="material-icons prefix glyphicon glyphicon-user"></i>
                                                                        <input id="adults_number" name="adults_number" type="number" ng-model="numberOfAdults" class="active right-aligned-text"
                                                                            ng-change="invalidateEstimation()">
                                                                        <label for="adults_number" class="right-aligned-text">عدد البالغين</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- <div class="row" ng-if="numberOfKids > 0">
                                                                <div class="col-lg-push-3 col-sm-push-3 col-lg-3 col-sm-3 noPadding">
                                                                    <div class="input-field col s12">
                                                                        <i class="material-icons prefix glyphicon glyphicon-user"></i>
                                                                        <textarea placeholder="سن الاطفال&#13;الطفل #1: 8" id="kidsAge" name="kidsAge" class="active">{{kidsAge}}</textarea>
                                                                        <label for="kidsAge" class="left-aligned-text">سن الاطفال</label>
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                            <div class="row right">
                                                                <label class="tittle full-width left-aligned-text" style="direction:rtl">الغرض من السفر:</label>
                                                                <div class="radio-btn-container contain">
                                                                    <div class="input-field inline" ng-show="selectedPurpose.name.includes('آخر')">
                                                                        <input type="text" id="other_people_number" name="other_people_number" ng-model="otherType" />
                                                                        <label for="other_people_number">اخري</label>
                                                                    </div>
                                                                    <p ng-repeat="purpose in purposes.slice().reverse()">
                                                                        <input name="purpose" type="radio" id="purpose-{{purpose.id}}" ng-click="selectPurpose(purpose, true)" ng-checked="$index === purposes.length - 1"
                                                                        />
                                                                        <label for="purpose-{{purpose.id}}" class="left-aligned-text">{{purpose.name}}</label>

                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="row right">
                                                                <label class="tittle full-width right-aligned-text">الميزانية</label>
                                                                <div class="radio-btn-container contain">
                                                                    <div class="input-field inline" ng-show="   selectedBudgetCategory.name.includes('خاصة')">
                                                                        <input id="own_budget" name="own_budget" type="text" ng-model="myOwnBudget">
                                                                        <label for="own_budget">أدخل ميزانيتك</label>
                                                                    </div>
                                                                    <p ng-repeat="budgetCategory in budgetCategories.slice().reverse()">
                                                                        <input name="budgetCategory" type="radio" id="budgetCategory-{{budgetCategory.id}}" class="budget-options" ng-hide = "($index === 1 && showSuperEconomy == false) || (requestType == 'itineraries' && $index === 0)" ng-click="selectBudgetCategory(budgetCategory, true)"
                                                                            ng-checked="$index === budgetCategories.length - 1" />
                                                                        <label for="budgetCategory-{{budgetCategory.id}}" title="{{budgetCategory.description}}" ng-hide = "($index === 1 && showSuperEconomy == false) || (requestType == 'itineraries' && $index === 0)">{{budgetCategory.name}}</label>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="row right" ng-hide="selectedDestinations[0] === '-1'">
                                                                    <div class="col-lg-4 col-sm-12 noPadding">
                                                                        <a class="waves-effect waves-light btn btn-primary btn-icon btn-icon-left btn-sm btn-ellipse cost-estimation-button" ng-click="estimateCost();">قدر مصاريف رحلتي</a>
                                                                    </div>
                                                                    <div class="col-lg-8 col-sm-12 noPadding">
                                                                        <p class="right bold small">
                                                                            <span class="red-color">جديد ! </span>اضغط لتري تقدير مصاريف رحلتك
                                                                        </p>
                                                                        <p class="right bold small">
                                                                            لقد اطلقنا للتو خدمة تقدير مصاريف الرحلات, لنساعدك علي تخطيط رحلتك
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <h3 class="">اهتماماتك</h3>
                                <fieldset class="">
                                    <div class="wizard-tab-content row animate slideInLeft">
                                        <div class="inner col-lg-12" id="third">
                                            <div class="col-lg-9 left-side align-center-block">
                                                <div class="inner">
                                                    <div class="tittle-container">
                                                        <h3 class="flow-tittle flow-tittle-override">

                                                            <span class="iconTitle purposeIconTitle"></span> اهتماماتك :
                                                        </h3>
                                                    </div>
                                                    <div class="row">
                                                        <span class="form-description">أخبرنا عن أكثر الأنشطة التي تحبها</span>
                                                        <div class="row" ng-repeat="interest in interests">
                                                            <main class="row col-lg-12 sliders-row">
                                                                <div class="col-lg-3 col-sm-4 noPadding right">
                                                                    <h3 class="range-tittle">
                                                                        <img src="images/{{interest.en_name}}.png" class="horizontally-flipped-image"/>
                                                                        <span>{{interest.name}}: {{interest.percent || 0}}%</span>
                                                                    </h3>
                                                                </div>
                                                                <div class="col-lg-9 col-sm-8 noPadding right">
                                                                    <fieldset>
                                                                        <div class="range">
                                                                            <input name="range-{{interest.id}}" type="range" min="0" max="100" value="0" ng-model="interest.percent">
                                                                        </div>
                                                                    </fieldset>
                                                                </div>
                                                            </main>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <h3 class="">مساعدة السفر</h3>
                                <fieldset class="">
                                    <div class="wizard-tab-content row animate slideInLeft">
                                        <div class="inner col-lg-12" id="forth">
                                            <div class="col-lg-9 left-side align-center-block">
                                                <div class="inner">
                                                    <div class="tittle-container">
                                                        <h3 class="flow-tittle flow-tittle-override">

                                                            <span class="iconTitle yDetailsIconTitle" style="direction:rtl"></span> مساعدات اضافية:
                                                        </h3>
                                                    </div>
                                                    <div class="row">
                                                        <span class="form-description" style="float:right;">كيف يمكننا تقديم مساعدة أخرى؟</span>
                                                        <div class="col s12">
                                                            <div class="row ">
                                                                <div class="col-lg-12 col-sm-12 ">
                                                                    <p class="" style="direction:rtl; float:right">
                                                                        <input type="checkbox" id="visaAssistanceNeeded" ng-model="needVisaAssistance" />
                                                                        <label for="visaAssistanceNeeded" class="lbl1" style="">أحتاج للمساعدة في الحصول على التأشيرات</label>
                                                                    </p>
                                                                </div>
                                                                <div class="col-lg-12 col-sm-12 ">
                                                                    <p class="" style="direction:rtl;float:right">
                                                                        <input type="checkbox" id="tourGuideNeeded" ng-model="needTourGuide" / style="">
                                                                        <label for="tourGuideNeeded" style="" class="lbl2">أحتاج إلى مرشد سياحي</label>
                                                                    </p>
                                                                </div>
                                                                <br>
                                                                <br>
                                                                <div class="col-lg-12 col-sm-12 " style="margin-top:20px">
                                                                    <label for="specialRequests" class=" specialRequests" style="margin-top:20px">طلبات خاصة</label>
                                                                    <textarea class="specialRequestsTextArea fullWidth" id="specialRequests" name="specialRequests" ng-model="specialRequests"
                                                                        placeholder="مثال  فيلا خاصة،  مدرب الغوص ، ... الخ "></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <h3 class="">التفاصيل</h3>
                                <fieldset class="">
                                    <div class="wizard-tab-content row animate slideInLeft">
                                        <div class="inner col-lg-12" id="fifth">
                                            <div class="col-lg-9 left-side align-center-block">
                                                <div class="inner">
                                                    <div class="tittle-container">
                                                        <h3 class="flow-tittle flow-tittle-override">

                                                            <span class="iconTitle yDetailsIconTitle" style="direction:rtl"></span> التفاصيل:
                                                        </h3>
                                                    </div>
                                                    <div class="row">
                                                        <span class="form-description">كيفية التواصل معك؟</span>
                                                        <div class="col s12">
                                                            <div class="row">
                                                                <div class="input-field col s12">
                                                                    <i class="material-icon prefix glyphicon glyphicon-user"></i>
                                                                    <input id="full_name" name="full_name" type="text" ng-model="request.traveler.name" style="direction:rtl">
                                                                    <label for="full_name" class="left-aligned-text">الاسم كاملا</label>
                                                                </div>
                                                                <div class="input-field col s12">
                                                                    <i class="material-icon prefix glyphicon glyphicon-envelope"></i>
                                                                    <input id="email" name="email" type="email" ng-model="request.traveler.emailAddress" style="direction:rtl">

                                                                    <label for="email" class="left-aligned-text">الايميل</label>
                                                                </div>
                                                                <div class="input-field col s12">
                                                                    <i class="material-icon prefix glyphicon glyphicon-phone"></i>
                                                                    <input id="mobile" name="mobile" type="tel" ng-model="request.traveler.mobile" style="direction:rtl">

                                                                    <label for="mobile" class="left-aligned-text">رقم التليفون</label>
                                                                </div>
                                                                <div class="input-field col s12">
                                                                    <i class="material-icon prefix glyphicon glyphicon-calendar"></i>
                                                                    <input id="birth_date" name="birth_date" type="text" class="birthDate" ng-model="request.traveler.dateOfBirth" style="direction:rtl">
                                                                    <label for="birth_date" class="left-aligned-text">تاريخ الميلاد</label>
                                                                </div>
                                                                <div class="input-field col s12">
                                                                    <i class="material-icons prefix glyphicon glyphicon-share-alt"></i>
                                                                    <select id="referral_type" name="referral_type" ng-model="request.referralType" ng-init="request.referralType = 1" class="referral-type select-override"
                                                                        style="direction:rtl">
                                                                        <option ng-repeat="type in referralTypes" ng-value="type.id" ng-selected="type.id === request.referralType">{{type.name}}</option>
                                                                    </select>
                                                                    <label for="referral_type" class="left-aligned-text active">كيف عرفت عنا؟</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--<div class="wizard-footer-container">
                                                <button type="button" class="secondary-btn wizard-back"><span class="glyphicon glyphicon-chevron-left
                                    "></span>Back</button>
                                                <button type="button" class="primary-btn wizard-next">التالي <span class="glyphicon glyphicon-chevron-right
                                                "></span></button>
                                            </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <h3 class="">التأكيد</h3>
                                <fieldset class="">
                                    <div class="wizard-tab-content row without-borders animate slideInLeft">
                                        <div class="inner col-lg-12 noPadding" id="sixth">


                                            <div class="col-lg-7 left-side noPadding">
                                                <div class="inner ticket-container">
                                                    <div class="ticket-data col-lg-12 row noPadding">
                                                        <div class="col-lg-4 col-md-6 col-sm-12 personal-data left-aligned">
                                                            <h3 class="full-name" ng-model="request.traveler.name"></h3>

                                                            <div class="transparent-bg">
                                                                <div class="place border-bottom">
                                                                    <h3 class="bold tittle">
                                                                        <span class=" bold tripdizer-red value" ng-bind="selectedSource"></span>
                                                                        <span class="txt ">من</span>
                                                                    </h3>
                                                                    <h3 class="bold tittle">
                                                                        <span ng-if="requestType === 'countries'" class="  bold tripdizer-red value">
                                                                                {{selectedDestinations[0] ? (selectedDestinations[0] == 1 ? selectedOtherDestinations : countries[selectedDestinations[0] - 1].ar_name) : ''}}{{selectedDestinations[1] ? ', ' + (selectedDestinations[1] == 1 ? selectedOtherDestinations : countries[selectedDestinations[1] - 1].ar_name) : ''}}{{selectedDestinations[2] ? ', ' + (selectedDestinations[2] == 1 ? selectedOtherDestinations : countries[selectedDestinations[2] - 1].ar_name) : ''}}
                                                                        </span>
                                                                        <span ng-if="requestType === 'itineraries'" class="  bold tripdizer-red value">
                                                                                {{itineraries[selectedDestinations[0] - 1].ar_name}}
                                                                        </span>
                                                                        <span class="txt ">الي</span>
                                                                    </h3>
                                                                </div>
                                                                <div class="time">
                                                                    <h3 class="bold tittle">
                                                                        <span class="  bold tripdizer-red value" ng-bind="selectedFrom"></span>
                                                                        <span class="txt ">من</span>
                                                                    </h3>
                                                                    <h3 class="bold tittle">
                                                                        <span class="  bold tripdizer-red value" ng-bind="selectedTo"></span>
                                                                        <span class="txt ">الي</span>
                                                                    </h3>
                                                                </div>
                                                                <div class="budget">
                                                                    <h3 class="bold tittle">
                                                                        <span class="  bold tripdizer-red value" ng-bind="selectedBudgetCategory.name" ng-hide ="selectedBudgetCategory.name.includes('خاص')"></span>
                                                                        <span class="  bold tripdizer-red value" ng-show ="selectedBudgetCategory.name.includes('خاص')">{{myOwnBudget | currency:"ج.م. ":0}}</span>
                                                                        <span class="txt ">الميزانية</span>
                                                                    </h3>
                                                                </div>
                                                                <div class="cont">
                                                                    <h3 class="bold tittle">
                                                                        <span class=" reqs bold tripdizer-red" ng-show="needVisaAssistance == true">طلب مساعدة التأشيرة</span>
                                                                        <span class=" reqs bold tripdizer-red" ng-show="needVisaAssistance == false">مساعة التأشيرة غير مطلوبة</span>
                                                                    </h3>
                                                                    <h3 class="bold tittle">
                                                                        <span class=" reqs bold tripdizer-red" ng-show="needTourGuide == true">طلب مرشد سياحي</span>
                                                                        <span class=" reqs  bold tripdizer-red" ng-show="needTourGuide == false">المرشد السياحي غير مطلوب</span>
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="trip-type-data col-lg-2 col-md-6 col-sm-12 right-aligned">
                                                            <h3 class="trip-type">
                                                                <span>{{selectedPurpose.name}}</span>
                                                                <br>
                                                                <span ng-show="numberOfTravelers == 1"> شخص{{numberOfTravelers}} </span>
                                                                <span ng-show="numberOfTravelers > 1">اشخاص {{numberOfTravelers}} </span>
                                                            </h3>
                                                        </div>


                                                        <div class="trip-data col-lg-6 col-md-6 col-sm-12 left-aligned">
                                                            <h3 class="trip-details"></h3>

                                                            <div class="transparent-bg" style="">
                                                                <div class="place border-bottom">
                                                                    <h3 class="bold tittle" style="text-align: right; margin-right: 30px;">
                                                                        <span class="  bold tripdizer-red value" ng-bind="request.traveler.dateOfBirth"></span>
                                                                        <span class="txt">تاريخ الميلاد</span>
                                                                    </h3>

                                                                    <h3 class="bold tittle" style="text-align: right; margin-right: 30px;">
                                                                        <span class="  bold tripdizer-red value" ng-bind="request.traveler.mobile"></span>
                                                                        <span class="txt">رقم التليفون</span>
                                                                    </h3>

                                                                    <h3 class="bold tittle" style="text-align: right; margin-right: 30px;">
                                                                        <span class="  bold tripdizer-red value" ng-bind="request.traveler.emailAddress"></span>
                                                                        <span class="txt ">الايميل</span>
                                                                    </h3>
                                                                </div>
                                                                <div class="time">
                                                                    <h3 class="bold tittle" style="text-align: right; margin-right: 30px;" ng-repeat="interest in interests">
                                                                        <span class=" bold tripdizer-red value" style="direction: rtl;">{{interest.percent || 0}} %</span>
                                                                        <span class="txt" style="margin-right: 10px;">{{interest.name}}</span>
                                                                        
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 right-side live-it-all-bg noPadding">
                                                <img src="images/logo-checkout.png" /> </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Modal Structure -->
                <div id="success-modal" class="modal modal-fixed-footer col-lg-5 col-sm-6 col-xs-10 no-bottom-margin" style="margin-bottom: 200px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <img src="images/hand-icon.png" /> </div>
                        <h3 class="bold thanks-msg" style="direction:rtl">شكرا لك !</h3>
                        <div class="progress" ng-show="submitting == true">
                            <div class="indeterminate"></div>
                        </div>
                        <p class="bold req-num-msg" ng-show="submitting == true" style="direction:rtl">يتم ارسال طلبك الي Tripdizer</p>

                        <p class="bold req-num-msg" ng-show="submitting == false && submittingError == false" style="direction:rtl">رقم طلبك هو</p>
                        <p class="bold req-num" ng-show="submitting == false && submittingError == false" style="direction:rtl">{{requestNumber}}</p>
                        <p class="contact-msg" ng-show="submitting == false && submittingError == false" style="direction:rtl">العرض الأفضل سيصلك في أقل من ٤۸ ساعة</p>
                        <p class="contact-msg" style="font-size: 10px;" ng-show="request.estimatedCost">*هذه التكاليف تقديرية و قد تتغير في تكاليف الرحلة النهائية</p>

                        <p class="bold req-num-msg" ng-show="submitting == false && submittingError == true" style="direction:rtl">هذا محرج....</p>
                        <p class="req-num-msg" ng-show="submitting == false && submittingError == true" style="direction:rtl">تعانيTripdizer من بعض المشاكل. نحن الآن على علم بها وسوف نقوم بتصليحها على الفور</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="okButtonClickedOnSubmitModal();">تم</a>
                    </div>
                </div>
                <div id="costEstimationModal" class="modal bottom-sheet">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat right" style="    height: inherit; line-height: inherit;; padding: 0 0.5rem">X</a>
                    <div class="modal-content">
                        <div class="row">
                            <div class="col-lg-3 col-sm-12 noPadding">
                                <h4 class="budget-estimation-title">{{costEstimation.iternaryArabicName}}</h4>
                            </div>
                            <div class="col-lg-3 col-sm-12 noPadding" ng-show = "calculatingBudget == false">
                                <h4 class="budget-estimation-title">{{travelersStatement}}
                                </h4>
                            </div>
                            <div class="col-lg-3 col-sm-12 noPadding" ng-show = "calculatingBudget == false">
                                <h4 class="budget-estimation-title"> {{nightsStatement}} </h4>
                            </div>
                            <div class="col-lg-3 col-sm-12 noPadding" ng-show = "calculatingBudget == false">
                                <h4 class="budget-estimation-title"> {{costEstimation.totalBudget| currency:"ج.م ":0}} </h4>
                            </div>
                        </div>
                       <div class="row">
                            <div class="col-lg-12 noPadding" ng-show = "calculatingBudget == true">
                                <div class="progress">
                                    <div class="indeterminate"></div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 noPadding budget-estimation-text" ng-show = "calculatingBudget == true">
                                <p> انتظر حتي نقوم بالتقدير</p>
                            </div>
                            <h2  ng-show = "calculatingBudget == false" style="font-size: 12px; font-weight: normal; width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px;"><span style="background:#fff; padding:0 10px; color: grey;">التفاصيل</span></h2>
                            <p class="contact-msg" style="font-size: 10px;">هذه التكاليف تقديرية و قد تتغير في تكاليف الرحلة النهائية</p>
                            <div class="col-lg-4 col-sm-12 noPadding budget-estimation-text" ng-show = "calculatingBudget == false">
                              <span>الطيران: {{costEstimation.flightsBudget| currency:"ج.م ":0}} *</span>
                               <img src="images/cost-estimation/flights.png" class="budget-estimation-image"/>
                            </div>
                            <div class="col-lg-4 col-sm-12 noPadding budget-estimation-text" ng-show = "calculatingBudget == false">
                              <span> الاقامة:  {{costEstimation.accomodationBudget| currency:"ج.م ":0}} </span>
                               <img src="images/cost-estimation/accomodations.png" class="budget-estimation-image"/>
                            </div>
                            <div class="col-lg-4 col-sm-12 noPadding budget-estimation-text" ng-show = "calculatingBudget == false && costEstimation.ferriesBudget > 0">
                              <span>التنقلات البحرية: {{costEstimation.ferriesBudget| currency:"ج.م ":0}} </span>
                               <img src="images/cost-estimation/ferries.png" class="budget-estimation-image"/>
                            </div>
                            <div class="col-lg-4 col-sm-12 noPadding budget-estimation-text" ng-show = "calculatingBudget == false">
                                
                               <span>المصاريف اليومية: {{costEstimation.dailySpendings| currency:"ج.م ":0}} ** </span>
                                <img src="images/cost-estimation/daily-spendings.png" class="budget-estimation-image"><span class="badge green" style="color: white;">معلومة</span></img>
                            </div>
                        </div>
                        <div class="modal-footer">
                      
                            <p ng-show = "calculatingBudget == false" style="background:#fff; padding:0 10px; color: grey;">طيران دولي و داخلي *</p>
                            <p ng-show = "calculatingBudget == false" style="background:#fff; padding:0 10px; color: grey;">مجرد معلومةز ليست محتسبة مع القيمة النهائية ** </p>
                    </div>
                    </div>
            </section>
        </main>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script-ar.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.validate-ar.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/wizard-control-ar.js"></script>
    <script src="js/jquery.steps-ar.js"></script>
    <script src="js/actions-ar.js"></script>
    <script src="js/ranger-ar.js"></script>
    <script src="js/menu-ar.js"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>-->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8240g5AUl2JKdl2R8ujG1M_7C-RNkiCg"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcEbRjYjOIMp9CHdO6VJiB3PQFNOtUbBA&v=3.exp"></script>
    <script src="application/TripdizerApplication.js"></script>
    <script src="application/ReservationController-ar.js"></script>
    <!-- <script src="http://maps.google.com/maps/api/js?v=3.22&sensor=true&libraries=places&callback=initMap"></script> -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-106443087-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5ada4045227d3d7edc242893/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->
</body>

</html>