<div class="row">
    <div class="input-group col-xs-6 col-xs-push-3" style="margin-bottom: 25px">
        <span class="input-group-addon" id="basic-from">From</span>
        <input type="date" ng-model="filter.from" class="form-control" aria-describedby="basic-from">
        <span class="input-group-addon" id="basic-to">To</span>
        <input type="date" ng-model="filter.to" class="form-control" aria-describedby="basic-to">
    </div>
</div>