<!-- Logo -->
<a href="home" class="logo"><b>Admin</b>&nbsp;|&nbsp;Tripdizer</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
  <!-- Sidebar toggle button-->
  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
  </a>
  <div class="navbar-custom-menu" ng-controller="HeaderContentController">
    <ul class="nav navbar-nav">
      <!-- Messages: style can be found in dropdown.less-->
      <li class="dropdown messages-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-envelope-o"></i>
          <span class="label label-danger" ng-show="userMessages.length > 0" ng-bind="userMessages.length"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="header">You have {{userMessages.length}} Tripdizer user message(s)</li>
          <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu">
              <li ng-repeat="userMessage in userMessages"><!-- start message -->
                <a href="#" ng-click="viewUserMessage(userMessage)">
                  <h4>
                    User: {{userMessage.userFirstName + " " + userMessage.userLastName}}
                    <small><i class="fa fa-clock-o"></i>{{userMessage.messageTime | date: 'hh:mm'}}</small>
                  </h4>
                  <p data-toggle="tooltip" title="{{userMessage.message}}">{{userMessage.message}}</p>
                </a>
              </li><!-- end message -->
            </ul>
          </li>
          <!-- <li class="footer"><a href="#">See All Messages</a></li> -->
        </ul>
      </li>
      <!-- Notifications: style can be found in dropdown.less -->
<!--       <li class="dropdown notifications-menu"> -->
<!--         <a href="#" class="dropdown-toggle" data-toggle="dropdown"> -->
<!--           <i class="fa fa-bell-o"></i> -->
<!--           <span class="label label-warning">1</span> -->
<!--         </a> -->
<!--         <ul class="dropdown-menu"> -->
<!--           <li class="header">You have 1 notification(s)</li> -->
<!--           <li> -->
<!--             inner menu: contains the actual data -->
<!--             <ul class="menu"> -->
<!--               <li> -->
<!--                 <a href="#"> -->
<!--                   <i class="fa fa-users text-aqua"></i> 5 new companies added today -->
<!--                 </a> -->
<!--               </li> -->
<!--             </ul> -->
<!--           </li> -->
<!--           <li class="footer"><a href="">View all</a></li> -->
<!--         </ul> -->
<!--       </li>  -->
      <!-- Tasks: style can be found in dropdown.less -->
      <li class="dropdown messages-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-flag-o"></i>
          <span class="label label-danger" ng-show="systemMessages.length > 0" ng-bind="systemMessages.length"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="header">You have {{systemMessages.length}} SMS(s)</li>
          <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu">
              <li ng-repeat="systemMessage in systemMessages"><!-- start message -->
                <a href="#" ng-click="viewSystemMessage(systemMessage)">
                  <h4>
                    {{systemMessage.subject}}
                    <small><i class="fa fa-clock-o"></i>{{systemMessage.messageTime | date: 'hh:mm'}}</small>
                  </h4>
                  <p data-toggle="tooltip" title="{{systemMessage.message}}">{{systemMessage.message}}</p>
                </a>
              </li><!-- end message -->
            </ul>
          </li>
          <li class="footer" ng-click="openSendMessageDiaolg();"><a href="#">Send Messages</a></li>
        </ul>
      </li>
      <!-- User Account: style can be found in dropdown.less -->
      <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img src="/dist/img/user2-160x160.jpg" class="user-image" alt="User Image"/>
          <span class="hidden-xs" ng-model="username"></span>
        </a>
        <ul class="dropdown-menu">
          <!-- User image -->
          <li class="user-header">
            <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
            <p>
              {{userFullName}}
              <small>Monitoring Tripdizer Dashboard</small>
            </p>
          </li>
          <!-- Menu Footer-->
          <li class="user-footer">
            <div class="pull-left">
            </div>
            <div class="pull-right">
              <a href="/admin/login" class="btn btn-default btn-flat">Sign out</a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    
	    <!-- Modals -->
    	
		
    	
    
  </div>
</nav>