<div class="row">
    <div class="col-lg-{{status.size.lg}} col-md-{{status.size.md}} col-sm-{{status.size.sm}} col-xs-{{status.size.xs}}" ng-repeat="status in statuses | orderBy: 'role'">
        <!-- small box -->
        <div class="small-box bg-{{status.color}}">
            <div class="inner">
                <h3 ng-bind="status.count">0</h3>
                <p style="font-size: 13px">{{status.title}}</p>
                <p>{{status.revenue}} Revenue, {{status.profit}} Profit</p>
                <p>{{status.numberOfTravelers}} Travelers</p>
            </div>
            <div class="icon">
                <i class="ion-ios-{{status.watermark}}-outline" ng-show="status.refresh==false"></i>
                <i class="fa fa-refresh fa-spin" ng-show="status.refresh==true"></i>
            </div>
            <a href="#" class="small-box-footer col-xs-6" ng-click="showMailModal('request', status.title)">Send Email <i class="fa fa-envelope"></i></a>
            <a href="#" class="small-box-footer col-xs-6" ng-click="refreshOrders(status.title)">View All <i class="fa fa-arrow-circle-right"></i></a>
            <div style="clear: both;"></div>
        </div>
    </div>
    <!-- ./col -->
</div>
<% include ./email %>